<!DOCTYPE html>
<meta charset="utf-8">
<style> /* set the CSS */

body { font: 12px Arial;}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.frame {
    fill: none;
}

</style>
<body>

<div id="option">
</div>


<input name="updateButton1" type="button" value="Elbow Plot" onclick="updateData('todo')" />
<div id="todo"></div>


<!-- load the d3.js library -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

const DURATION = 750


var data = {{ data.chart_data | safe }}
console.log(data);
// Set the dimensions of the canvas / graph
var margin = {top: 30, right: 10, bottom: 30, left: 50},
    width = 600 - margin.left - margin.right,
    height = 270 - margin.top - margin.bottom;

// Parse the date / time
var parseDate = d3.time.format("%d-%b-%y").parse;
//var parseDate = d3.time.format("%y-%b-%d").parse;
//var parseDate = d3.time.format("%Y-%m-%d").parse;

// Set the ranges
//var x = d3.time.scale().range([0, width]);
var x = d3.scale.linear().range([0, width]);
var y = d3.scale.linear().range([height, 0]);

// Define the axes
var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(5);

var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(5);

// Define the line
var valueline = d3.svg.line()
    //.x(function(d) { return x(d.date); })
    .x(function(d) { return x(d.x); })
    //.y(function(d) { return y(d.close); });
    .y(function(d) { return y(d.y); });

// Get the data

function drawdata(data, div){
  // Scale the range of the data
  x.domain(d3.extent(data, function(d) { return d.x; }));
  y.domain([0, d3.max(data, function(d) { return d.y; })]);

  // Adds the svg canvas for raw data
  var svg = d3.select(div)
    .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform",
              "translate(" + margin.left + "," + margin.top + ")");

  // Add the valueline path.
  svg.append("path")
      .attr("class", "line")
      .attr("d", valueline(data));

  // Add the X Axis
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  // Add the Y Axis
  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);
}

function drawScatterPlot(data, div) {
    x.domain(d3.extent(data, function(d) { return d.x; }));
    y.domain(d3.extent(data, function(d) { return d.y; }));

  // Adds the svg canvas for raw data
  var svg = d3.select(div)
    .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform",
              "translate(" + margin.left + "," + margin.top + ")");

  // Add the dots.
  svg.append("g")
        .selectAll("dot")
        .data(data).enter()
        .append("circle")
            .attr("cx", function(d) {return x(d.x)})
            .attr("cy", function(d) {return y(d.y)})
            .attr("r", 1)
            .style("fill", "#168eb9");

  // Add the X Axis
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  // Add the Y Axis
  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);
}

function drawScatterPlotMatrix(data, div, attributes, pairs) {
    blocksize = 200
    
    newWidth = blocksize * attributes.length
    newHeight = blocksize * attributes.length
    
    x = d3.scale.linear().range([0, blocksize])
    y = d3.scale.linear().range([blocksize, 0]);
    
    x.domain(d3.extent(data, function(d) { return d.x; }));
    y.domain(d3.extent(data, function(d) { return d.y; }));

    var domains = {};
    attributes.forEach(function(attr) {
        domains[attr] = d3.extent(data, function(d) {return d[attr];});
    });
    
    // Adds the svg canvas for raw data
    var svg = d3.select(div)
        .append("svg")
            .attr("width", newWidth + margin.left + margin.right)
            .attr("height", newHeight + margin.top + margin.bottom)
        .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

    var svgCell = svg.selectAll(".cell")
        .data(pairs).enter();

    svgCell.append("g")
        .attr("class", "cell")
        .attr("transform", function(d) { 
            return "translate(" + (attributes.length - d.i - 1) * blocksize + "," + d.j * blocksize + ")";
        })
        .each(drawCell);
    
    function drawCell(dataCell) {
        var cell = d3.select(this);

    x.domain(domains[dataCell.x]);
    y.domain(domains[dataCell.y]);

    cell.append("rect")
        .attr("class", "frame")
        .attr("x", 0)
        .attr("y", 0)
        .attr("width", blocksize)
        .attr("height", blocksize);

    // draw circle
    cell.selectAll("circle")
        .data(data)
      .enter().append("circle")
        .attr("cx", function(d) { return x(d[dataCell.x]); })
        .attr("cy", function(d) { return y(d[dataCell.y]); })
        .attr("r", 1)
        .style("fill", "#168eb9");
   
    // not enough...
        /* 
    // Add the X Axis
    cell.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + blocksize + ")")
        .call(xAxis);

    // Add the Y Axis
    svg.append("g")
        .attr("class", "y axis")
        .attr("transform", "translate(0," + blocksize + ")")
        .call(yAxis);
        */
  }
}

function scatterPlot(plotname) {
    $.post("", {'data': plotname}, function(data_infunc){
        dataNew = JSON.parse(data_infunc.chart_data)
        console.log(plotname);
        console.log(dataNew);
        drawScatterPlot(dataNew, "#" +  plotname);
    })
}

function scatterPlotMatrix(plotname) {
    $.post("", {'data': plotname}, function(data_infunc){
        dataNew = JSON.parse(data_infunc.chart_data)
        console.log(plotname);
        console.log(dataNew);
        
        var attributes = d3.keys(dataNew[0]).filter(function(d) { return d});
        pairs = getPairs(attributes, attributes);
        drawScatterPlotMatrix(dataNew, "#" +  plotname, attributes, pairs);
    })
}

function getPairs(a, b) {
    var res = [];
    var i = 0, j = 0;
    for (i = 0; i < a.length; i++) {
        for (j = 0; j < b.length; j++) {
            res.push({
                i: i,
                j: j,
                x: a[i],
                y: b[j]
            });
        }
    }
    return res;
}

function updateData(plotname) {
    $.post("", {'data': plotname}, function(data_infunc){
        dataNew = JSON.parse(data_infunc.chart_data)
        console.log(plotname);
        console.log(dataNew);
        drawdata(dataNew, "#" +  plotname);
    })
}

</script>
</body>
</html>
