<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>

    <title>H1B data visualization</title>
    <!-- Styles -->
    <link rel="stylesheet" href="../static/lib/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/lib/fontawesome-pro-5.8.2-web/css/all.css">
</head>

<body>
    <aside class="side-nav" id="show-side-navigation1">
        <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
        <div class="heading">
            <div class="info">
                <h3><a href="#">Final Project</a></h3>
                <p>Visualization</p>
            </div>
        </div>
        <ul class="categories">
            <li>
                <i class="fal fa-calendar-alt" aria-hidden="true"></i>
                <a href="#"> H1B</a>
                <ul class="side-nav-dropdown">
                    <li><a href="{{ url_for('test') }}">Test</a></li>
                    <li><a href="{{ url_for('test2', dataset='H1B') }}">Test2</a></li>
                    <li><a href="{{ url_for('index') }}">Overview</a></li>
                    <li><a href="{{ url_for('gridmap', chartname='MeanWage') }}">Mean Wage</a></li>
                    <li><a href="{{ url_for('gridmap', chartname='TotalPetitions') }}">Total Petitions</a></li>
                    <li><a href="{{ url_for('heatmap', data_id=0) }}">Correlation</a></li>
                    <li><a href="{{ url_for('barchart') }}">Bar Chart</a></li>
                    <li><a href="{{ url_for('piechart', data_id=1) }}">Pie Chart</a></li>
                    <li><a href="{{ url_for('gridmap', chartname='MeanWage OCCUPATION 0') }}">Mean Wage by Occupation</a></li>
                    <li><a href="{{ url_for('gridmap', chartname='MeanWage YEAR 0') }}">Mean Wage By Year</a></li>
                </ul>
            </li>
            <li>
                <a href="#"> PWD data</a>
                <ul class="side-nav-dropdown">
                    <li><a href="{{ url_for('heatmap', data_id=1) }}">Correlation</a></li>
                </ul>
            </li>
            <li>
                <a href="#"> PERM data</a>
                <ul class="side-nav-dropdown">
                    <li><a href="{{ url_for('heatmap', data_id=2) }}">Correlation</a></li>
                    <li><a href="{{ url_for('stackedbarchart', chartname='Petition By Education') }}">Petition By Education</a></li>
                    <li><a href="{{ url_for('scatterplot', chartname='Petition By Education') }}">Petition By Education</a></li>
                </ul>
            </li>
        </ul>
    </aside>

    <section id="contents">
        <div class="welcome">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-11">
                        <div class="content">
                            <h2>Overview for H1B data</h2>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="content">
                            <h2><a href="#"><i data-show="show-side-navigation1" class="fas fa-toggle-on show-side-btn"></i></a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<section class="statistics">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <div class="box"  id="EmployerPeitionRank2014">
                            <p>2014</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="box" id="EmployerPeitionRank2015">
                            <p>2015</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="box" id="EmployerPeitionRank2016">
                            <p>2016</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="box" id="EmployerPeitionRank2017">
                            <p>2017</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="box" id="EmployerPeitionRank2018">
                            <p>2018</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="box">
                            <p>To be continued...</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <section class="charts">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="chart-container">
                            <h3>Chart</h3>
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="chart-container">
                            <h3>Chart2</h3>
                            <canvas id="myChart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class='statis text-center'>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="box bg-primary">
                            <i class="fa fa-eye"></i>
                            <h3>5,154</h3>
                            <p class="lead">Page views</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box danger">
                            <i class="fa fa-user-o"></i>
                            <h3>245</h3>
                            <p class="lead">User registered</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box warning">
                            <i class="fa fa-shopping-cart"></i>
                            <h3>5,154</h3>
                            <p class="lead">Product sales</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box success">
                            <i class="fa fa-handshake-o"></i>
                            <h3>5,154</h3>
                            <p class="lead">Transactions</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="chrt3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="chart-container">
                            <canvas id="chart3" width="100%"></canvas>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="overlay"></div>
    </section>

    <!-- load the d3.js library -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="../static/js/const.js"></script>
    <script src="../static/js/script.js"></script>

    <script>
        const DURATION = 750;

        var data_map = {{data.map_data | safe}};
        var data_bar = {{data.bar_data | safe}};
        var data_scatter = {{data.scatter_data | safe}};
        console.log(data);

        function updateP(labelname) {
            $.post("", {'data': labelname}, function(data_infunc){
                dataNew = JSON.parse(data_infunc.chart_data)
                console.log(labelname);
                console.log(dataNew);
            })
        }
    </script>
</body>
</html>